<%- include('../templates/includes/head.ejs') %>
    <link rel="stylesheet" href="/css/listNote.css">
    </head>
<body>

<%- include('../templates/includes/nav.ejs') %>

<main>
    <% if (notes_list.length>0) { %>
    <div class="grid">
        <% for (let notes of notes_list) {%>
                 <div class="note-box">
                     <h4 class="title"><%= notes.title %></h4>
                     <div class="text"><%= notes.description %></div>
                      <div class="note-box_actions">
                      <form action="api/notes/<%= notes._id %>" method="POST">
                         <!--<input type="hidden" value="<%= notes._id %>" name="noteId"/>-->
                          <button class="del-icon" type="submit">x</button>
                      </form>
                      <a href="/notes/<%= notes._id %>" class="btn">Details</a>
                      <a href="/addNote/add-note/<%= notes._id %>?edit=true" class="btn">Edit</a>
                   </div>
              </div>
        <% } %>
    </div>
    <% } else {%>
    <h1>No Notes Found!</h1>
    <% } %>
</main>
<!--
<section>
    <% if (notes_list.length>0) { %>
    <div class="grid">
        <% for (let listNote of notes_list) { %>
             <div class="note-box">
               <h4 class="title"><%= listNote.title %></h4>
               <div class="note-box_actions">
                 <form action="/add-to-cart" method="POST">
                     <button class="del-icon">x</button>
                 </form>
               </div>
             </div>
        <% } %>
    </div>
    <% } else {%>
    <h1>No List Found!</h1>
    <% } %>
</section>-->
<%- include('../templates/includes/end.ejs') %>